
#hero {
	width: 100%;
	background-image: url('images/hero.jpg');
	background-repeat: no-repeat;
	background-position-y: 70px;
	background-size: cover;
	min-height: 110vh;
}


@media screen and (max-width: 575px){

	#hero {
		background-position-y: 100px;
	}
}

